.footer{
    background-color: #eec1ad;
    margin: 0;
    text-align: center;
    border-radius: 2px 2px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:20px ;
}